- const baseUrlMenu = "http://127.0.0.1:5500/docs";

nav.contentMenu
  ul.menu
    li.menu__item
      a(href=`${baseUrlMenu}/index.html`).menu__link Home
    li.menu__item
      a(href=`${baseUrlMenu}/post/html5/index.html`).menu__link#html5-course HTML5
    li.menu__item
      a(href=`${baseUrlMenu}/post/css3/index.html`).menu__link#css3-course CSS3
    li.menu__item
      a(href=`${baseUrlMenu}/post/js/index.html`).menu__link JavaScript
    li.menu__item
      a(href=`${baseUrlMenu}/post/reactjs/index.html`).menu__link React.js
    li.menu__item
      a(href=`${baseUrlMenu}/post/nodejs/index.html`).menu__link Node.js
    li.menu__item
      a(href=`${baseUrlMenu}/post/gitgithub/index.html`).menu__link Git-GitHub
    li.menu__item
      a(href=`${baseUrlMenu}/post/bash/index.html`).menu__link Bash