- const urlDevBase = "127.0.0.1:5500/docs"

- const urlBase = "https://estivenmayhuay.github.io/emcody";

- 
  const navHTML5 = [
    {
      summary: 'HTML5 Basico',
      list: [
        {
          title: 'Intro',
          link: `${urlBase}/post/html5/index.html` 
        },
        {
          title: 'Breve Historia',
          link: `${urlBase}/post/html5/breve-historia/index.html`
        },
        {
          title: '¿Qué es HTML?',
          link: `${urlBase}/post/html5/que-es-html/index.html`
        },
        {
          title: '¿Qué es HTML5?',
          link: `${urlBase}/post/html5/que-es-html5/index.html`
        },
        {
          title: 'Estructura Básica',
          link: `${urlBase}/post/html5/estructura-basica-html/index.html`
        }
      ]
    },
    {
      summary: 'Tags HTML',
      list: [
        {
          title: 'Etiquetas HTML',
          link: `${urlBase}/post/html5/etiquetas-html/index.html`
        },
        {
          title: 'Seccionamiento de Contenido',
          link: `${urlBase}/post/html5/etiquetas-html/index.html`
        }
      ]
    },
  ];

aside.panel.gridContainer__panel#panelInfo
  nav.panelMenu
    span.btnClose
      <i class='bx bx-window-open'></i>
    each item in navHTML5
      div.panelMenu__indice
        h6= item.summary
        each list in item.list
          ul
            li
              a(href=`${list.link}`)= list.title
